	<div class="progress" id="progress">
	</div>
	<div class="well well-lg">

		<div class="row">
			<div class="col-md-12">
				<h4> Write down the pinyins for the given number (e.g. 24 = 'er shi si')</h4>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6"  align="center">
				<div id="number_field">
					<h3>42</h3>
				</div>
			</div>
			<div class="col-md-6">
				<input id="userInput" type="text" placeholder="The number on the left in chinese" class="form-control"/>
			</div>
		</div>
		<br>
		<div class="row" align="right">
			<div class="col-md-12">
				<button id="checkButton" type="submit" class="btn btn-primary">Check</button>
			</div>
		</div>
	</div>

	<!--- Finished Modal Dialog -->
	<div id="finishedDialog" tabindex="-1" role="dialog" aria-labelledby="finishedDialogLabel" aria-hidden="true" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
	        <center> 
	          <h4 class="modal-title">Finished!</h4>
	        </center>
	      </div>
	      <div class="modal-body">
	        <center> 
	          <div id="dialog_message"></div>
	        </center>
	      </div>
	      <div class="modal-footer">
	        <button type="button" data-dismiss="modal" id="closeButton" class="btn btn-default">Close</button>
	        <button type="button" id="againButton" class="btn btn-primary">Play again</button>
	      </div>
	    </div>
	  </div>
	</div>
<script type="text/javascript" src="/assets/trainer_number.js"></script>
