<ul class="nav nav-pills">
  <li><%= link_to "Home", admin_index_path %></li>
  <li><%= link_to "Words", admin_words_path %></li>
  <li><%= link_to "Concepts", admin_concepts_path %></li>
  <li><%= link_to "Lessons", admin_lessons_path %></li>
</ul>
<br>