<ul class="nav nav-pills">
  <li class="active"><a href="#">Home</a></li>
  <li><%= link_to "Words", admin_words_path %></li>
  <li><%= link_to "Concepts", admin_concepts_path %></li>
  <li><%= link_to "Lessons", admin_lessons_path %></li>
</ul>