    <div class="container">

	     <!-- Main component for a primary marketing message or call to action -->
	    <div class="jumbotron">
		  <h2>Learn Chinese<small>学中文</small></h2>
			<p>
				My little webapp to learn Chinese
			</p>
	       <p>
	        	<a class="btn btn-lg btn-primary" href="lessons">Get started</a>
	       </p>
	    </div>

    </div> <!-- /container -->